In [1]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, time

In [2]:
data = ['j120_2_1.csv','j120_3_1.csv','j120_1.csv']

## Read in First Instance

In [3]:
#resource dataframe
df = pd.read_csv('j120_1.csv', encoding='utf-8', skiprows = 3, nrows = 4)
    
#label columns & rows
df.columns = np.arange(1,121)
df.rename(index={0:'r1',1:'r2',2:'r3',3:'r4'}, inplace=True)

#data cleaning
df[1] = df[1].str.strip('rr = [| ')
df[120] = df[120].str.strip(' |];')

#dummy variables
r0 = pd.DataFrame({'1': [0,0,0,0]})
#r121 = pd.DataFrame({'122': [0,0,0,0]})
r0.rename(index={0:'r1',1:'r2',2:'r3',3:'r4'}, inplace=True)
#r121.rename(index={0:'r1',1:'r2',2:'r3',3:'r4'}, inplace=True)

#change columns and join
df.columns = np.arange(2,122)
df = r0.join(df)
#df = df.join(r121)

df

,1,2,3,4,5,6,7,8,9,10,...,112,113,114,115,116,117,118,119,120,121
r1,0,0,0,0,0,9,6,0,2,9,...,0,0,0,9,0,0,0,0,0,0
r2,0,0,0,0,5,0,5,7,0,6,...,4,0,0,10,0,0,8,2,0,0
r3,0,0,9,8,6,4,0,0,0,0,...,6,10,5,0,1,10,0,0,5,3
r4,0,2,0,0,2,0,4,0,0,0,...,0,0,9,4,5,2,0,4,2,2

In [4]:
#duration dataframe
df_dur = pd.read_csv('j120_1.csv', delimiter = ' ,', skiprows = 2, nrows = 1, engine='python')

#data cleaning
df_dur.columns = ['col1']
df_dur['col1'] = df_dur['col1'].str.strip('d = [')
df_dur['col1'] = df_dur['col1'].str.strip('];')

#label duration columns & rows
df_dur.rename(index={0:'duration'}, inplace=True)
df_dur = df_dur.col1.str.split(",",expand=True,)
df_dur.columns = np.arange(1,121)

#dummy variables
r0 = pd.DataFrame({'1': [0]})
#r121 = pd.DataFrame({'122': [0]})
r0.rename(index={0:'duration'}, inplace=True)
#r121.rename(index={0:'duration'}, inplace=True)

#change columns and join
df_dur.columns = np.arange(2,122)
df_dur = r0.join(df_dur)
#df_dur = df_dur.join(r121)

df_dur

,1,2,3,4,5,6,7,8,9,10,...,112,113,114,115,116,117,118,119,120,121
duration,0,6,2,8,6,8,2,8,5,3,...,10,3,8,10,10,10,6,7,9,5

In [5]:
#successor dataframe
df_suc = pd.read_csv('j120_1.csv', skiprows = 8, engine='python')
df_suc.columns = ['suc1','suc2','suc3','4']

#data cleaning
df_suc = df_suc.drop("4", axis=1)
df_suc['suc1'] = df_suc['suc1'].str.strip('  {}];')
df_suc['suc2'] = df_suc['suc2'].str.strip('}')
df_suc['suc3'] = df_suc['suc3'].str.strip('}')

#filling variable
#change to 0??
fill = 'null'

#dummy variables
r0 = pd.DataFrame({'suc1': [fill],'suc2':[fill],'suc3':[fill]})
#not a dummy variable, but deleted earlier
r121 = pd.DataFrame({'suc1': [fill],'suc2':[fill],'suc3':[fill]})
r0.rename(index={0:'-1'}, inplace=True)
r121.rename(index={0:'121'}, inplace=True)

#change columns and join
df_suc = r0.T.join(df_suc.T)
df_suc = df_suc.join(r121.T)
df_suc.columns = np.arange(1,122)

#replace NaN, blanks, and None
df_suc = df_suc.fillna(fill)
df_suc = df_suc.replace('',fill)
df_suc

,1,2,3,4,5,6,7,8,9,10,...,112,113,114,115,116,117,118,119,120,121
suc1,null,6,4,5,9,8,10,28,16,14,...,113,116,120,119,118,119,null,null,null,null
suc2,null,95,7,11,60,20,15,null,30,32,...,null,null,null,null,null,null,null,null,null,null
suc3,null,null,26,12,null,27,44,null,35,103,...,null,null,null,null,null,null,null,null,null,null

## Chain Together Instances

In [10]:
x = 122

for i in data :

    cols = np.arange(x,x+120)
    
#resources
#label columns & rows; data cleaning
    df1 = pd.read_csv(i, encoding='utf-8', skiprows = 3, nrows = 4)
    df1.columns = cols
    df1.rename(index={0:'r1',1:'r2',2:'r3',3:'r4'}, inplace=True)
    df1[x] = df1[x].str.strip('rr = [| ')
    df1[x+119] = df1[x+119].str.strip(' |];')
    
#durations
#label duration columns & rows; data cleaning
    df2 = pd.read_csv(i, delimiter = ' ,', skiprows = 2, nrows = 1, engine='python')
    df2 = df2['n_tasks = 120;'].str.split(",",expand=True,)
    
    df2.columns = cols
    
    df2[x] = df2[x].str.strip('d = [')
    df2[x+119] = df2[x+119].str.strip('];')
    df2.rename(index={0:'duration'}, inplace=True)
    
#successors
    df3 = pd.read_csv(i, skiprows = 9, engine='python')
    print(df3)
    #r0 = pd.DataFrame({'suc1': [fill],'suc2':[fill],'suc3':[fill]})
    dfirst = pd.read_csv(i, skiprows = lambda x:x in [8,9], engine='python')
    print(dfirst)
    
    df3.columns = ['suc1','suc2','suc3','4']
    df3 = df3.drop("4", axis=1)
    df3['suc1'] = df3['suc1'].str.strip('  {}];')
    df3['suc2'] = df3['suc2'].str.strip('}')
    df3['suc3'] = df3['suc3'].str.strip('}')
    
    #not a dummy variable, but deleted earlier
    r121 = pd.DataFrame({'suc1': [fill],'suc2':[fill],'suc3':[fill]})
    r121.rename(index={0:x+118}, inplace=True)

    #change columns and join
    df3 = df3.T.join(r121.T)
    df3.columns = np.arange(x,x+120)

    #replace NaN, blanks, and None
    df3 = df3.fillna(fill)
    df3 = df3.replace('',fill)
    
#join resources
    df.T
    df1.T
    df = df.join(df1)

#join durations
    df2.T
    df_dur.T
    df_dur = df_dur.join(df2)
    
#join successors
    df3.T
    df_suc.T
    df_suc = df_suc.join(df3)
    

#increment for next instance
    x = x + 120

df_suc

                { 4      25    42 }  Unnamed: 3
0               { 5       7    12 }         NaN
1               { 6      10    20 }         NaN
2               { 8       9    29 }         NaN
3            { 22 }     NaN    None         NaN
4              { 16      23   100 }         NaN
5            { 15 }     NaN    None         NaN
6            { 11 }     NaN    None         NaN
7              { 14      21    33 }         NaN
8              { 58      85    98 }         NaN
9              { 65    84 }     NaN         NaN
10             { 19      59    75 }         NaN
11             { 24      73   118 }         NaN
12             { 17    67 }     NaN         NaN
13             { 18      48   111 }         NaN
14           { 71 }     NaN    None         NaN
15             { 35      41    69 }         NaN
16             { 53      99   103 }         NaN
17             { 26      34    39 }         NaN
18             { 28      61    63 }         NaN
19           { 74 }     NaN    None         NaN
20           { 56 }     NaN    None         NaN
21           { 75 }     NaN    None         NaN
22             { 43      47    60 }         NaN
23             { 27      30    80 }         NaN
24           { 51 }     NaN    None         NaN
25             { 32    79 }     NaN         NaN
26             { 31      38   106 }         NaN
27             { 62      77    83 }         NaN
28             { 37      40    55 }         NaN
29             { 36      96   113 }         NaN
..              ...     ...     ...         ...
88           { 95 }     NaN    None         NaN
89          { 120 }     NaN    None         NaN
90          { 117 }     NaN    None         NaN
91          { 108 }     NaN    None         NaN
92          { 101 }     NaN    None         NaN
93          { 111 }     NaN    None         NaN
94          { 108 }     NaN    None         NaN
95          { 101 }     NaN    None         NaN
96            { 106   113 }     NaN         NaN
97          { 104 }     NaN    None         NaN
98          { 120 }     NaN    None         NaN
99            { 107   110 }     NaN         NaN
100         { 105 }     NaN    None         NaN
101           { 106   110 }     NaN         NaN
102         { 116 }     NaN    None         NaN
103         { 112 }     NaN    None         NaN
104         { 112 }     NaN    None         NaN
105         { 118 }     NaN    None         NaN
106         { 114 }     NaN    None         NaN
107         { 112 }     NaN    None         NaN
108         { 117 }     NaN    None         NaN
109         { 116 }     NaN    None         NaN
110         { 114 }     NaN    None         NaN
111         { 115 }     NaN    None         NaN
112         { 116 }     NaN    None         NaN
113         { 118 }     NaN    None         NaN
114         { 120 }     NaN    None         NaN
115            {  }     NaN    None         NaN
116            {  }     NaN    None         NaN
117         {  } ];    None    None         NaN

[118 rows x 4 columns]

ParserError: Expected 4 fields in line 4, saw 120